:root {
  --color-primary: #362b2e;
  --color-secondary: #f37b83;
  --color-pale: #a88590;
  --color-white: #fff;
  --color-gray: #7a7a7a;
  --color-dark: #000;
}

$bp-largest: 75em;
$bp-large: 68.75em;
$bp-medium: 56.25em;
$bp-small: 37.5em;
$bp-smallest: 31.25em;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  background-color: var(--color-primary);
}

.display {
  background-color: var(--color-primary);
  height: 100%;
  padding: 3rem 4rem;
  position: fixed;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);

  @media only screen and (max-width: $bp-largest) {
    display: none;
  }
}

.content {
  flex: 0 0 80%;
  margin-left: 20%;

  @media only screen and (max-width: $bp-largest) {
    width: 100%;
    margin-left: 0%;
  }
}

.header {
  height: 100vh;
  display: flex;

  @media only screen and (max-width: $bp-large) {
    height: 50vh;
  }

  &__img {
    flex: 0 0 35%;
    @media only screen and (max-width: $bp-large) {
      display: none;
    }
  }

  &__img img {
    height: 100%;
  }

  &__info {
    background-color: var(--color-white);
    flex: 1;
    padding: 15rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media only screen and (max-width: $bp-largest) {
      width: 100%;
      padding: 10rem;
    }

    @media only screen and (max-width: $bp-large) {
      width: 100%;
      padding: 12rem;
    }
    @media only screen and (max-width: $bp-small) {
      width: 100%;
      padding: 7rem;
    }

    &-intro {
      font-size: 6rem;

      @media only screen and (max-width: $bp-small) {
        font-size: 4rem;
      }
    }

    &-name {
      font-size: 10rem;
      color: var(--color-secondary);

      @media only screen and (max-width: $bp-small) {
        font-size: 5rem;
      }
    }

    &-text {
      font-size: 2rem;
      color: var(--color-gray);
    }

    &-link {
      display: flex;
      align-items: flex-start;
      gap: 4rem;
    }

    &-link a {
      text-decoration: none;
      font-size: 1.2rem;
      text-transform: uppercase;
      color: var(--color-dark);
      transition: all 0.2s;

      &:hover {
        transform: scale(1.2);
        padding: 0.3rem;
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
      }
    }
  }
}

.signature {
  height: 3rem;
}

.signature img {
  height: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &__header {
    color: var(--color-secondary);
  }

  &__detail {
    color: var(--color-white);
    font-size: 1.5rem;
  }
}

.body {
  padding: 3rem;
  @media only screen and (max-width: $bp-large) {
    padding: 0;
  }

  &__heading {
    font-size: 6rem;
    color: var(--color-white);
    font-weight: bold;
    text-transform: capitalize;
    border-bottom: 2px solid var(--color-white);
    margin-bottom: 3rem;
  }
}

.works {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  &__parent {
    padding: 3rem;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-decoration: none;
    color: var(--color-pale);
    font-size: 1.5rem;
    border-bottom: 2px solid var(--color-white);
    transition: all 0.2s;

    &-title {
      font-size: 3rem;
      padding: 2rem;

      @media only screen and (max-width: $bp-medium) {
        font-size: 2rem;
      }
    }

    &-description {
      text-transform: uppercase;
      margin-bottom: 1rem;

      @media only screen and (max-width: $bp-medium) {
        font-size: 1.2rem;
      }
    }

    &-icon {
      font-size: 3rem;

      @media only screen and (max-width: $bp-medium) {
        font-size: 2rem;
      }

      @media only screen and (max-width: $bp-small) {
        display: none;
      }
    }

    &:hover {
      transform: translateY(-1rem);
    }
  }
}

.portfolio {
  display: flex;
  margin-bottom: 3rem;

  @media only screen and (max-width: $bp-large) {
    flex-direction: column;
  }
}

.skills {
  padding: 2rem;
  flex: 1;

  display: flex;
  flex-wrap: wrap;
  gap: 4rem;

  @media only screen and (max-width: $bp-large) {
    gap: 2rem;
  }

  @media only screen and (max-width: $bp-medium) {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  &__box {
    padding: 3rem;
    flex: 0 0 40%;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);

    display: flex;
    flex-direction: column;
    gap: 3rem;
    @media only screen and (max-width: $bp-large) {
      flex: 1;
      gap: 1.5rem;
    }

    &-icon {
      font-size: 4rem;
    }

    &-heading {
      font-size: 3rem;
      color: var(--color-secondary);
    }

    &-desc {
      font-size: 1.5rem;
      color: var(--color-pale);
      line-height: 2.5rem;
    }
  }
}

.cv {
  padding: 3rem;
  flex: 0 0 45%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__heading {
    color: var(--color-secondary);
    font-size: 5rem;
  }

  &__content {
    &-first {
      font-weight: bold;
      color: var(--color-pale);
      margin-bottom: 2rem;
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }

  &__content p:not(:first-child) {
    font-size: 1.5rem;
    color: var(--color-pale);
    line-height: 2.5rem;
  }
}

.btn {
  &__download {
    width: 17rem;
    padding: 1.2rem;
    border: 1px solid var(--color-secondary);
    color: var(--color-white);
    background-color: transparent;
    border-radius: 25px;
    font-size: 1.5rem;
    transition: all 0.2s;
    cursor: pointer;

    @media only screen and (max-width: $bp-large) {
      margin-top: 2rem;
    }

    &:hover {
      background-color: var(--color-secondary);
    }
  }

  &__form {
    padding: 2rem;
    color: var(--color-white);
    background-color: transparent;
    align-self: center;
    width: 80%;
    border: 2px solid var(--color-white);
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background-color: var(--color-white);
      color: var(--color-secondary);
    }
  }

  &__dialog {
    width: 17rem;
    padding: 1.2rem;
    border: 1px solid var(--color-white);
    color: var(--color-white);
    border-radius: 25px;
    font-size: 1.5rem;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      background-color: var(--color-white);
      color: var(--color-secondary);
    }
  }
}

.footer {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  gap: 3rem;

  @media only screen and (max-width: $bp-large) {
    flex-direction: column;
  }

  &__content {
    flex: 0 0 35%;

    @media only screen and (max-width: $bp-large) {
      flex: 1;
    }

    &-header {
      font-size: 3rem;
      color: var(--color-secondary);
      margin-bottom: 1rem;
    }

    &-text {
      color: var(--color-pale);
      line-height: 3rem;
      &__1 {
        font-size: 2rem;
        margin-bottom: 3rem;
        font-weight: bold;
        @media only screen and (max-width: $bp-large) {
          margin-bottom: 1rem;
        }
      }

      &__2 {
        font-size: 1.5rem;
        margin-bottom: 3rem;
        @media only screen and (max-width: $bp-large) {
          margin-bottom: 1rem;
        }
      }
    }
  }

  &__info {
    &-header {
      font-size: 1.5rem;
      font-weight: bold;
      color: var(--color-pale);
    }

    &-text {
      font-size: 1.4rem;
      color: var(--color-pale);
    }
  }

  &__form {
    flex: 0 0 45%;
    background-color: var(--color-secondary);
  }
}

.form {
  height: 100%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media only screen and (max-width: $bp-large) {
    padding: 2rem;
  }

  &__input {
    font-size: 1.4rem;
    color: var(--color-white);
    border: none;
    border-bottom: 3px solid var(--color-white);
    background-color: transparent;
    outline: none;

    &::placeholder {
      color: var(--color-white);
    }

    @media only screen and (max-width: $bp-large) {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }
  }

  &__textarea {
    font-size: 1.4rem;
    color: var(--color-white);
    border: none;
    border-bottom: 3px solid var(--color-white);
    background-color: transparent;
    outline: none;

    &::placeholder {
      font-size: 1.4rem;
      color: var(--color-white);

      @media only screen and (max-width: $bp-large) {
        font-size: 2.5rem;
      }
    }

    @media only screen and (max-width: $bp-large) {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }
  }
}

.message {
  font-size: 1.7rem;
  color: var(--color-pale);
}

i {
  color: var(--color-white);
}


.dialog {
  display: none;
  margin: auto;
  padding: 7rem;
  border: none;
  border-radius: 10px;
  background-color: var(--color-secondary);

  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  &::backdrop {
    background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(14, 14, 15, 1) 35%,
      rgba(1, 14, 16, 1) 100%
    );

    opacity: 0.75;
  }

  &__text {
    font-size: 3rem;
    color: var(--color-white);
  }
}
.hidden{
    display: none;
}